@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    font-family: "Neue Montreal", sans-serif;
    letter-spacing: 0.2em;
  }
  h2 {
    @apply text-xl
  }
  h3 {
    @apply text-lg
  }
}

root {
  --pad: max(20px, 4vmin);
}

:root {
  --header-height: 112px;
}

#header {
  height: var(--header-height);
}

#body {
  margin-top: calc(15px + 4px + var(--header-height));
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
